.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


body {
    color: rgb(255, 0, 0);
    background-size: cover;
  }
.img {
    height: 200px;
    width: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    filter: brightness(0%)
}

.hard-gif {
    height: 200px;
    width: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    filter: brightness(0%)
}

.easy-gif {
    height: 200px;
    width: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.button {
    height: 30px;
    width: 30px;
}

.button:hover {
    cursor: pointer;
  }

  .pokeball {
    border: none;
    background-color: transparent;
    height: 20px;
    width: 20px;
  }

  .pokeball:hover {
    transform: scale(2)
  }

.search-bar {
    width: 75%;
    border: 4px solid rgb(41, 134, 232);
    padding: 5px;
    height: 30px;
    outline: none;
    border-radius: 5px 5px 5px 5px;
    color: rgb(41, 134, 232);
    margin: 5px;

    .input{
      width: 100%;
      
    }
  }

  .search-bar:hover {
    background-color: rgb(255, 242, 0);
    color: rgb(41, 134, 232);

  }
  
  @media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  }

  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

  body {
    background-image: url("https://i.pinimg.com/originals/39/3c/e6/393ce636c6ceac0b15ad4c454f247d60.jpg");
    color: rgb(255, 255, 255);
    background-size: cover;
  }

  .johto {
    background-image: url("")
  }

  .topleft {
    position: absolute;
    left: 16px;
    font-size: 18px;
  }

  .topright {
    position: absolute;
    right: 16px;
    font-size: 18px;
  }

  .bottomleft {
    position: absolute;
    bottom: 8px;
    left: 16px;
    font-size: 18px;
  }